.error { background-color: #fff0f0; }
.bg-primary {
    background-color:midnightblue!important;
    }
    body {background-color:#457fb4;
        font-family: "Poppins" , sans-serif; 
        color:white;
        margin-top: 120px;}