<header>
    <div>    
    <select [formControl]="filterControl">
        <option value="University of Aberdeen">University of Aberdeen</option>
        <option value="Abertay University">Abertay University</option>
        <option value="Aberystwyth University">Aberystwyth University</option>
        <option value="Anglia Ruskin University Cambridge">Anglia Ruskin University Cambridge</option>
        <option value="Arden University">Arden University</option> 
        <option value="Aston University Birmingham">Aston University Birmingham</option>
        <option value="Bangor University">Bangor University</option>
        <option value="University of Bath">University of Bath</option>
        <option value="Bath Spa University">Bath Spa University</option>
        <option value="University of Bedfordshire Luton and Bedford">University of Bedfordshire Luton and Bedford</option>
        <option value="University of Birmingham">University of Birmingham</option>
        <option value="Birmingham City University">Birmingham City University</option>
        <option value="University College Birmingham">University College Birmingham</option>
        <option value="Bishop Grosseteste University Lincoln">Bishop Grosseteste University Lincoln</option>
        <option value="University of Bolton">University of Bolton</option>
        <option value="The Arts University Bournemouth">The Arts University Bournemouth</option>
        <option value="Bournemouth University">Bournemouth University</option>
        <option value="BPP University private">BPP University private</option>
        <option value="University of Bradford">University of Bradford</option>
        <option value="University of Brighton">University of Brighton</option>
        <option value="University of Bristol">University of Bristol</option>
        <option value="Brunel University Uxbridge and London">Brunel University Uxbridge and London</option>,
        <option value="University of Buckingham private">University of Buckingham private</option>
        <option value="Buckinghamshire New University High Wycombe">Buckinghamshire New University High Wycombe</option>
        <option value="University of Cambridge">University of Cambridge</option>
        <option value="Canterbury Christ Church University Canterbury">Canterbury Christ Church University Canterbury</option>
        <option value="Cardiff Metropolitan University">Cardiff Metropolitan University</option>
        <option value="Cardiff University">Cardiff University</option>
        <option value="University of Chester and Warrington">University of Chester and Warrington</option>
        <option value="University of Chichester">University of Chichester</option>
        <option value="Coventry University">Coventry University</option>
        <option value="Cranfield University">Cranfield University</option>
        <option value="University for the Creative Arts Canterbury">University for the Creative Arts Canterbury</option>
        <option value="University of Cumbria">University of Cumbria</option>
        <option value="De Montfort University Leicester">De Montfort University Leicester</option>
        <option value="University of Derby">University of Derby</option>
        <option value="University of Dundee">University of Dundee</option>
        <option value="Durham University">Durham University</option> 
        <option value="University of East Anglia Norwich">University of East Anglia Norwich</option>
        <option value="University of East London">University of East London</option>
        <option value="Edge Hill University Ormskirk Lancashire">Edge Hill University Ormskirk Lancashire</option>
        <option value="University of Edinburgh">University of Edinburgh</option>
        <option value="Edinburgh Napier University">Edinburgh Napier University</option>
        <option value="University of Essex Colchester and Southend-on-Sean">University of Essex Colchester and Southend-on-Sea</option>
        <option value="University of Exeter">University of Exeter</option>
        <option value="Falmouth University">Falmouth University</option>
        <option value="University of Glasgow">University of Glasgow</option>
        <option value="Glasgow Caledonian University">Glasgow Caledonian University</option>
        <option value="University of Gloucestershire">University of Gloucestershire</option>
        <option value="University of Greenwich">University of Greenwich</option>
        <option value="Harper Adams University">Harper Adams University</option>
        <option value="Hartpury University Gloucester">Hartpury University Gloucester</option>
        <option value="Heriot-Watt University Edinburgh and Galashiels">Heriot-Watt University Edinburgh and Galashiels</option>
        <option value="University of Hertfordshire Hatfield">University of Hertfordshire Hatfield</option>
        <option value="University of the Highlands & Islands">University of the Highlands & Islands</option> 
        <option value="University of Huddersfield">University of Huddersfield</option>
        <option value="University of Hull">University of Hull</option>
        <option value="Imperial College London">Imperial College London</option>
        <option value="Keele University Staffordshire">Keele University Staffordshire</option>
        <option value="University of Kent Canterbury and Medway">University of Kent Canterbury and Medway</option>
        <option value="Kingston University">Kingston University</option>
        <option value="University of Central Lancashire Preston and Burnley">University of Central Lancashire Preston and Burnley</option>
        <option value="Lancaster University">Lancaster University</option>
        <option value="University of Leeds">University of Leeds</option>
        <option value="Leeds Arts University">Leeds Arts University</option>
        <option value="Leeds Beckett University">Leeds Beckett University</option>
        <option value="Leeds Trinity University">Leeds Trinity University</option>
        <option value="University of Leicester">University of Leicester</option>
        <option value="University of Lincoln">University of Lincoln</option>
        <option value="University of Liverpool">University of Liverpool</option>
        <option value="Liverpool Hope University">Liverpool Hope University</option>
        <option value="Liverpool John Moores University">Liverpool John Moores University</option>
        <option value="University of London">University of London</option>
        <option value="London Metropolitan University">London Metropolitan University</option>
        <option value="London South Bank University">London South Bank University</option>
        <option value="Hazlerigg Building at the Loughborough University">Hazlerigg Building at the Loughborough University</option>
        <option value="Loughborough University">Loughborough University</option>
        <option value="University of Manchester">University of Manchester</option>
        <option value="Manchester Metropolitan University">Manchester Metropolitan University</option>
        <option value="Middlesex University London">Middlesex University London</option>
        <option value="Newcastle University">Newcastle University</option>
        <option value="Newman University Birmingham">Newman University Birmingham</option>
        <option value="University of Northampton">University of Northampton</option>
        <option value="Northumbria University Newcastle upon Tyne">Northumbria University Newcastle upon Tyne</option>
        <option value="Norwich University of the Arts">Norwich University of the Arts</option>
        <option value="University of Nottingham">University of Nottingham</option>
        <option value="Nottingham Trent University">Nottingham Trent University</option>
        <option value="The Open University Milton Keynes">The Open University Milton Keynes</option>
        <option value="University of Oxford">University of Oxford</option>
        <option value="Oxford Brookes University">Oxford Brookes University</option>
        <option value="Plymouth Marjon University">Plymouth Marjon University</option>
        <option value="University of Plymouth">University of Plymouth</option>
        <option value="University of Portsmouth">University of Portsmouth</option>
        <option value="Queen Margaret University Edinburgh">Queen Margaret University Edinburgh</option>
        <option value="Queens University Belfast">Queens University Belfast</option>
        <option value="Ravensbourne University London">Ravensbourne University London</option>
        <option value="University of Reading">University of Reading</option>
        <option value="Regents University London">Regents University London</option>
        <option value="The Robert Gordon University Aberdeen">The Robert Gordon University Aberdeen</option>
        <option value="Roehampton University London">Roehampton University London</option>
        <option value="Royal Agricultural University Cirencester">Royal Agricultural University Cirencestern</option>
        <option value="University of Salford">University of Salford</option>
        <option value="University of Sheffield">University of Sheffield</option>
        <option value="Sheffield Hallam University">Sheffield Hallam University</option>
        <option value="University of South Wales">University of South Wales</option>
        <option value="University of Southampton">University of Southampton</option>
        <option value="Solent University">Solent University</option>
        <option value="University of St Andrews">University of St Andrews</option>
        <option value="St Marys University Twickenham">St Marys University Twickenham</option>
        <option value="Staffordshire University Stoke-on-Trent">Staffordshire University Stoke-on-Trent</option>
        <option value="University of Stirling Bridge of Allan">University of Stirling Bridge of Allan</option>
        <option value="University of Strathclyde Glasgow">University of Strathclyde Glasgow</option>
        <option value="University of Suffolk">University of Suffolk</option>
        <option value="University of Sunderland">University of Sunderland</option>
        <option value="University of Surrey Guildford">University of Surrey Guildford</option>
        <option value="University of Sussex">University of Sussex</option>
        <option value="Swansea University">Swansea University</option>
        <option value="Teesside University Middlesbrough and Darlington">Teesside University Middlesbrough and Darlington</option>
        <option value="University of the Arts London">University of the Arts London</option>
        <option value="Ulster University Coleraine">Ulster University Coleraine</option>
        <option value="Ulster University Jordanstown">Ulster University Jordanstown</option>
        <option value="Ulster University Magee">Ulster University Magee</option>
        <option value="Ulster University Belfast">Ulster University Belfast</option>
        <option value="University of Law">University of Law</option>
        <option value="University of Wales">University of Wales</option>
        <option value="University of Wales Trinity Saint David (UWTSD)">University of Wales Trinity Saint David (UWTSD)</option> 
        <option value="University of Warwick Coventry">University of Warwick Coventryn</option>
        <option value="University of the West of England Bristol">University of the West of England Bristol</option>
        <option value="University of the West of Scotland">University of the West of Scotland</option>
        <option value="University of West London">University of West London</option>
        <option value="University of Westminster London">University of Westminster London</option>
        <option value="University of Winchester">University of Winchester</option>
        <option value="University of Wolverhampton">University of Wolverhampton</option>
        <option value="University of Worcester">University of Worcester</option>
        <option value="Wrexham Glyndŵr University">Wrexham Glyndŵr University</option>
        <option value="University of York">University of York</option>
        <option value="York St John University">York St John University</option>
    </select>
    <button class = "btn" type="submit" class ="FilterButton" (click)="filterAccommodation(filterControl.value)" style="margin-left:auto; margin-right: auto; padding-top: 50;">Search</button>
    <h2>Select University of Accommodation</h2> 
    </div> 
</header>
<body>
    <div class="hero-container">
        <div class="row">
            <div class="col-sm-4">
                <div *ngFor = "let accommodation of webService.filter_accommodation_list">
                    <div class="mb-3"
                        style = "width: 20rem; margin: auto; cursor: pointer;"
                        [routerLink] = "['/accommodation', accommodation._id]">
                        <div class="row text-center">
                            <div class="main-container">
                                <div class="poster-container">
                                    <a href="#"><img src="assets/Images/{{ accommodation.image }}" class="poster" /></a>
                                </div>
                                <div class="ticket-container">
                                    <div class="ticket__content">
                                    <h4 class="ticket__movie-title">{{ accommodation.name }}</h4>
                                        <p class="ticket__movie-slogan">
                                            This accommodation is based in
                                            {{ accommodation.university }} 
                                        <br>The accommodation can be found at {{ accommodation.number }}
                                        {{ accommodation.street }}
                                        <br>This type of accommodation is {{ accommodation.type }} 
                                        <br>The number of rooms available: {{ accommodation.rooms }} 
                                        </p>
                                        <p class="ticket__current-price">MONTHLY PRICE £{{ accommodation.monthlyprice }}.</p>
                                        <button class="ticket__buy-btn">Review Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
    <footer>
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary" (click) = "previousPage()">
                Previous
            </button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-primary" (click) = "nextPage()">
                Next
            </button>
        </div>
    </div>
    </footer>
