body{
    margin-top:126px;
    font-family: "Poppins", sans-serif;
    padding:0;
    display: flex;
    justify-content:left;
    align-items:center;
    background-image: url('backodation.jpg');
}
.error { background-color: #fffff0; }